<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">

<!--
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/touch/apple-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/touch/apple-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/images/touch/apple-icon-57x57-precomposed.png">
        <link rel="shortcut icon" sizes="196x196" href="/assets/images/touch/touch-icon-192x192.png">
        <link rel="shortcut icon" href="/assets/images/touch/apple-icon.png">
-->


        <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
        <link rel="stylesheet" href="{{{STYLES_URL}}}">
        <script src="/assets/javascripts/modernizr-2.7.1.min.js"></script>
    </head>
    <body>

        {{{body}}}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. --
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-59739884-1');ga('send','pageview');
        </script>
		-->
    </body>
	<script src="{{{SHARED_SCRIPT_URL}}}"></script>
	<script src="{{{APP_SCRIPT_URL}}}"></script>
</html>